@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    transition: .5s;
}
html
{
    padding: 0;
    margin: 0;
    background-color: black;
    body 
    {
        padding: 0;
        margin: 0;
        nav-vert
        {
            font-family: 'Poppins', sans-serif;
            padding: 0;
            margin: 0;
            position: fixed;
            top: 10vh;
            left: 0;
            min-width: 5vw;
            width: min-content;
            max-width: max-content + 1vw;
            display: flex;
            flex-wrap: wrap;
            
            nav-item 
            {
                flex-basis: 100%;
                padding: 5px;
                display: flex;
                width: max-content;
                align-items: center;
                cursor: pointer;
                nav-icon
                {
                    margin-right: 7px;
                    ion-icon 
                    { 
                        width: 20px;
                        height: 20px;
                        color: white;
                    }
                }
                nav-label
                {
                    color: white;
                    // margin-bottom: 5px;
                }
                &:hover
                {
                    nav-icon 
                    {
                        ion-icon
                        {
                            color: rgb(255, 255, 189);
                        }
                    }
                    nav-label
                    {
                        color: rgb(255, 255, 189);
                    }
                }
                &.current
                {
                    margin-left: 1rem;
                    nav-icon
                    {
                        ion-icon
                        {
                            color: teal;
                        }
                    }
                    nav-label
                    {
                        color: teal;
                    }
                }
            }
        }
        
    }
}