@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$defaultcolor: white;
$hovercolor: rgb(255, 255, 189);
$clickedcolor: teal;

$connectioncolor: rgb(255, 255, 255);

html
{
    padding: 0;
    margin: 0;
    background-color: black;
    body 
    {
        padding: 0;
        margin: 0;
        nav-vert
        { 

            transition: .5s;
            font-family: 'Poppins', sans-serif;
            padding: 0;
            margin: 0;
            position: fixed;
            top: 10vh;
            left: 0;
            min-width: 5vw;
            width: min-content;
            max-width: max-content + 1vw;
            display: flex;
            flex-wrap: wrap;
            sub-nav 
            {
                transition: .5s;
                display: none;
                margin-left: 2rem;
                position: relative;
                z-index: 0;

                .connection 
                {
                    display: none;
                }
                .connection.connected
                {
                    
                    display: block;
                }
                .connection.connection-1 
                {
                    position: absolute;
                    width: .5rem;
                    height: 1rem;
                    border-top: none;
                    border-right: none;
                    border-bottom: .1rem solid $connectioncolor;
                    border-left: .1rem solid $connectioncolor;
                    border-bottom-left-radius: .2rem;
                }
                .connection.connection-2
                {
                    position: absolute;
                    width: .5rem;
                    height: 3rem;
                    top: 0;
                    border-top: none;
                    border-right: none;
                    border-bottom: .1rem solid $connectioncolor;
                    border-left: .1rem solid $connectioncolor;
                    border-bottom-left-radius: .2rem;
                }
                .connection.connection-3
                {
                    position: absolute;
                    width: .5rem;
                    height: 5.5rem;
                    top: 0;
                    border-top: none;
                    border-right: none;
                    border-bottom: .1rem solid $connectioncolor;
                    border-left: .1rem solid $connectioncolor;
                    border-bottom-left-radius: .2rem;
                }
                nav-item
                {
                    margin-left: 1rem;
                }
            }
            nav-item 
            {
                transition: .5s;
                flex-basis: 100%;
                padding: 5px;
                display: flex;
                width: max-content;
                align-items: center;
                cursor: pointer;
                nav-icon
                {
                    transition: .5s;
                    margin-right: 7px;
                    ion-icon 
                    { 
                        transition: .5s;
                        width: 20px;
                        height: 20px;
                        color: $defaultcolor;
                    }
                }
                nav-label
                {
                    transition: .5s;
                    color: $defaultcolor;
                }
                &:hover
                {
                    transition: .5s;
                    margin-left: 1rem;
                    nav-icon 
                    {
                        transition: .5s;
                        ion-icon
                        {
                            transition: .5s;
                            color: $hovercolor;
                        }
                    }
                    nav-label
                    {
                        transition: .5s;
                        color: $hovercolor;
                    }
                }
                &.current
                {
                    transition: .5s;
                    margin-left: 1rem;
                    nav-icon
                    {
                        transition: .5s;
                        ion-icon
                        {
                            transition: .5s;
                            color: $clickedcolor;
                        }
                    }
                    nav-label
                    {
                        transition: .5s;
                        color: $clickedcolor;
                    }
                }
            }
        }
        
    }
}